$cor-bege: #FFFFFF;
$cor-sombra: rgba(0, 0, 0, 0.25);
$cor-laranja: #EE7A3A;
$cor-amarelo: #FFB354;
$cor-cinza-clarissimo: #E7E7E7;
$cor-marrom: #725C5C;
$cor-bege2: #FDF1EB;
$cor-cinza-claro: #CCCCCC;
$cor-vermelha: #F85959;
$cor-laranja2: #ED7839;
$cor-branca: #ECECEC;
$cor-cinza-escuro: #4E4E4E;
$cor-cinza: #5C5C5C;
$cor-cinza2: #595959;
$cor-cinza3: #4D4D4D;
$cor-cinza-header:#333333;

$cor-branca: #EAF1F2;
$cor-amarelo-claro: #FEB154;
$cor-laranja3: #F1833E;
$cor-laranja-claro: #F48F44;
$cor-tom-cinza: #DDDDDD;
$cor-sombra2: rgba(0, 0, 0, 0.12);
$cor-tom-cinza-claro: #707070;
$cor-tom-cinza2: #757575;
$branco: #F8F8F8;
$cor-botao-criar-topic: #FEB254;
$cor-botao-criar-topic: #F0813D;
