<!DOCTYPE html>
<html lang="PT-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SLACA 2019</title>
  <link rel="stylesheet" href="C:\Users\Pichau\Desktop\Slaca-Exercicio-TS\ts\src\favicon.ico">
  <script src="script.js"></script>
</head>

<body>

  <div id="menu">
    <div class="site_name">
      <a class="nav_title" href="index.html">SLACA 2019</a>
    </div>

    <div>
      <img class="nav_image" src="./img/menu.png">
    </div>

    <nav class="menu_nav">
      <button class="nav_button">Apresentação</button>
      <button class="nav_button">Comitês</button>
      <button class="nav_button">Autores</button>
      <button class="nav_button">Eixos temáticos</button>
      <button class="nav_button">Trabalhos</button>
      <button class="nav_button">Contato</button>
    </nav>
  </div>
