<!DOCTYPE html>
<html lang="PT-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SLACA 2019</title>
  <link rel="stylesheet" href="C:\Users\Pichau\Desktop\Slaca-Exercicio-TS\ts\src\favicon.ico">
  <script src="script.js"></script>
</head>

<body>

  <div id="menu">
    <div class="site_name">
      <a class="nav_title" href="index.html">SLACA 2019</a>
    </div>

    <div>
      <img class="nav_image" src="./img/menu.png">
    </div>

    <nav class="menu_nav">
      <button class="nav_button">Apresentação</button>
      <button class="nav_button">Comitês</button>
      <button class="nav_button">Autores</button>
      <button class="nav_button">Eixos temáticos</button>
      <button class="nav_button">Trabalhos</button>
      <button class="nav_button">Contato</button>
    </nav>
  </div>

  <div id="container">

    <header>
      <div class="page_title">
        <h5 class="general_title">Anais do Simpósio Latino Americano de Ciências de Alimentos</h5>
        <h3 class="general_subtitle">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h3>
        <h5 class="issn">ISSN: 1234-5678</h5>
      </div>

      <div class="rigth_side">
        <select id="languages">
          <option>PT, BR</option>
          <option>EN</option>
        </select>

        <div class="user_info">
          <div class="login">
            <h5 class="wellcome">Bem vindo!</h5>
            <h6 class="email_login">alguem12galoascience.com</h6>
          </div>
          <img id="Imagem_user" src="./img/user.png">
          <h6 class="notifications">2</h6>
        </div>
      </div>
    </header>

    <main>

      <section class="page_top">
        <h2 class="article_title">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15
          anos, do município de Campinas/SP </h2>
        <aside class="cite">
          <div class="cite_buttons">
            <button class="download_button"><img src="./img/download.png"></button>
            <button class="favorite_button"><img src="./img/favorite.png"></button>
            <button class="doi_button"><img src="./img/doi.png"></button>
          </div>
          <h3 class="how_to_cite">COMO CITAR ESSE TRABALHO?</h3>
        </aside>
      </section>

      <div class="main_content">
        <div class="video">
          <h3 class="video_title">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15
            anos, do município de Campinas/SP </h3>
          <div class="about_video">
            <img class="img_user_video" src="./img/videoimg.png">
            <div class="only_about">
              <h2 class="about_video1">Beatriz Christiane Melo</h2>
              <h4 class="about_video2">FCA / Universidade Estadual de Campinas</h4>
            </div>
          </div>
        </div>

        <aside class="details">
          <h3 class="details_title">Detalhes</h3>
          <div class="details_container">
            <p class="keywords">Tipo de Apresentação: <strong>Pôster</strong><br>
              Eixo temático: <strong>Alimentação e saúde (AS)</strong><br>
              Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong></p><br>

            <p class="writers"><strong>Autores:</strong><br>
              Galileo Galilei¹<br>
              Berta Lange de Morretes²<br>
              Isaac Newton³<br>
              Cesar Lattes¹<br>
              Stephen Hawking⁴</p><br>

            <p class="universities"><small>¹Universidade Estadual de Campinas<br>
                ²Universidade de São Paulo<br>
                ³Instituto Nacional de Pesquisas Espaciais<br>
                ⁴Universidade Federal do Rio de Janeiro</small>
          </div>
        </aside>
      </div>
