<!DOCTYPE html>
<html lang="PT-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SLACA 2019</title>
  <link rel="stylesheet" href="C:\Users\Pichau\Desktop\Slaca-Exercicio-TS\ts\src\favicon.ico">
  <script src="script.js"></script>
</head>

<body>

  <div id="menu">
    <div class="site_name">
      <a class="nav_title" href="index.html">SLACA 2019</a>
    </div>

    <div>
      <img class="nav_image" src="./img/menu.png">
    </div>

    <nav class="menu_nav">
      <button class="nav_button">Apresentação</button>
      <button class="nav_button">Comitês</button>
      <button class="nav_button">Autores</button>
      <button class="nav_button">Eixos temáticos</button>
      <button class="nav_button">Trabalhos</button>
      <button class="nav_button">Contato</button>
    </nav>
  </div>

  <div id="container">

    <header>
      <div class="page_title">
        <h5 class="general_title">Anais do Simpósio Latino Americano de Ciências de Alimentos</h5>
        <h3 class="general_subtitle">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h3>
        <h5 class="issn">ISSN: 1234-5678</h5>
      </div>

      <div class="rigth_side">
        <select id="languages">
          <option>PT, BR</option>
          <option>EN</option>
        </select>

        <div class="user_info">
          <div class="login">
            <h5 class="wellcome">Bem vindo!</h5>
            <h6 class="email_login">alguem12galoascience.com</h6>
          </div>
          <img id="Imagem_user" src="./img/user.png">
          <h6 class="notifications">2</h6>
        </div>
      </div>
    </header>

    <main>

      <section class="page_top">
        <h2 class="article_title">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15
          anos, do município de Campinas/SP </h2>
        <aside class="cite">
          <div class="cite_buttons">
            <button class="download_button"><img src="./img/download.png"></button>
            <button class="favorite_button"><img src="./img/favorite.png"></button>
            <button class="doi_button"><img src="./img/doi.png"></button>
          </div>
          <h3 class="how_to_cite">COMO CITAR ESSE TRABALHO?</h3>
        </aside>
      </section>

      <div class="main_content">
        <div class="video">
          <h3 class="video_title">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15
            anos, do município de Campinas/SP </h3>
          <div class="about_video">
            <img class="img_user_video" src="./img/videoimg.png">
            <div class="only_about">
              <h2 class="about_video1">Beatriz Christiane Melo</h2>
              <h4 class="about_video2">FCA / Universidade Estadual de Campinas</h4>
            </div>
          </div>
        </div>

        <aside class="details">
          <h3 class="details_title">Detalhes</h3>
          <div class="details_container">
            <p class="keywords">Tipo de Apresentação: <strong>Pôster</strong><br>
              Eixo temático: <strong>Alimentação e saúde (AS)</strong><br>
              Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong></p><br>

            <p class="writers"><strong>Autores:</strong><br>
              Galileo Galilei¹<br>
              Berta Lange de Morretes²<br>
              Isaac Newton³<br>
              Cesar Lattes¹<br>
              Stephen Hawking⁴</p><br>

            <p class="universities"><small>¹Universidade Estadual de Campinas<br>
                ²Universidade de São Paulo<br>
                ³Instituto Nacional de Pesquisas Espaciais<br>
                ⁴Universidade Federal do Rio de Janeiro</small>
          </div>
        </aside>
      </div>

      <section class="abstract">

        <h3 class="abstract_title">Resumo</h3>
        <p class="abstract_paragraphs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis
          auctor, mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus.
          Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet.
          Donec finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum
          lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros
          vestibulum Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque
          sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum. Etiam aliquam dictum nisl, vel aliquet
          enim accumsan sit ametl accumsant<span id="points">...</span>
          <span id="moreText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor,
            mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce
            auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet.
            Donec finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum
            lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros
            vestibulum.<br><br>

            Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat. Proin
            dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris sodales
            id. Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis. Etiam
            finibus urna libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean interdum
            quis diam ac porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet
            odio.<br><br>

            Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec eleifend
            vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu. Phasellus maximus dui
            eget lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis turpis. Praesent
            blandit elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis consectetur non odio.
            Phasellus at lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque orci. Quisque
            sagittis, mi vitae pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id odio. Morbi eu
            libero luctus, consectetur lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu maximus
            massa.<br><br>

            Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra felis ut
            hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus luctus dolor
            at viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum sem. Aliquam at
            malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat vitae. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit.</span><button onclick="readMore()" id="verMais">ver
            mais</button>
        </p>
      </section>

      <section class="discussions">

        <h3 class="discussions_title">Discussões</h3>
        <div class="discussions_container">
          <div id="create_topic">
            <h4 class="discussions_subtitle">Compartilhe suas ideias ou dúvidas com os autores!</h4>
            <div class="icons">
              <img class="discussions_icons" src="./img/icone1.png">
              <img class="discussions_icons" src="./img/icone2.png">
              <img class="discussions_icons" src="./img/icone3.png">
            </div>
            <h5 class="discussions_paragraphs">Sabia que o maior estímulo no desenvolvimento científico e cultural é a
              curiosidade? Deixe seus questionamentos ou sugestões para o autor!</h5>
            <button onclick="createATopic()" id="topic_button"><img src="./img/criar_topico.png"></button>
          </div>
